/*
# Front-end Style Guide

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

*/

/*************
    MAIN
*************/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "join join"
    "month why"
    "footer footer";
}

h2 {
    font-size: 1.6em;
}

/*************
    JOIN
*************/
.join {
    background-color: #ffffff;
    color: hsl(218, 22%, 67%);
    grid-area: join;
    padding: 0 5%;
}

.join h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.8em;
}

.join h2 {
    color: hsl(71, 73%, 54%);
}

.join p {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.5;
    max-width: 1100px;
}

/*************
    MONTHLY
*************/
.monthly {
    background-color: hsl(179, 62%, 43%);
    color: #ffffff;
    grid-area: month;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.monthly strong {
    font-size: 2em;
}

.monthly span {
    position: relative;
    top: -10px;
    left: 25px;
    color: hsl(204, 43%, 93%);
}

.monthly p {
    font-size: 1.4em;
    margin-top: 0;
}

.monthly form {
    align-self: center;
    width: 100%;
    margin: auto;
}

.monthly input {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    font-size: 1.1em;
    margin-top: 15px;
    box-shadow: 5px 5px 25px hsl(218, 22%, 67%);
}



/*************
    WHY
*************/

.why {
    background-color: #4abebd;
    color: #ffffff;
    grid-area: why;
    padding: 5% 10%;
}

.why ul {
    padding: 0;
}

.why ul li {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    line-height: 1.4;
    font-size: 1em;
}

/*************
    FOOTER
*************/
footer {
    grid-area: footer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*************
    MEDIA
*************/

@media (max-width: 1320px) {
    .monthly p {
        font-size: 1.2em;
    }
}

@media (max-width: 1000px) {
    .join p {
        font-size: 1em;
    }
    .monthly p {
        font-size: .9em;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
        grid-template-rows: 350px 400px 400px 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "join"
        "month"
        "why"
        "footer";
    }
    .monthly p {
        font-size: 1.1em;
    }
}